*{
    margin: 0;
    padding: 0;
}

body{
    background: #F2F4F3;
    font-family: 'Inter', sans-serif;
}

main{
    height: 600px;
}

.titulo {
    color: #22333B;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 60px;
    user-select: none;

    /* border: 1px solid red; */

}

textarea{ 
    overflow: hidden; 
    resize: none; 
}

textarea::placeholder{
    color: #22333B;
}

.Campo-De-Digitacao {
    background:#F2F4F3;
    width: 680px;
    height: 48px;
    margin-left: 240px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    outline: 0;
    border: none;

    /* border: 1px solid red; */
}

.retangulo-branco {
    width: 350px;
    height: 580px;
    background: #FFF;
    border-radius: 32px;
    text-align: center;
    margin-top: -4em;
    position: absolute;
    display: inline-block;
    user-select: none;

    /* border: 1px solid red;     */
}

form{
    display: inline-block;
    width: 70%;

    /* border: 1px solid red; */
}

.imagem-menino {
    margin-top: 80px;
    width: 80%;

    /* border: 1px solid red; */
}

.invisivel{
    display: none; 
}

#Mensagem-da-caixa {
    margin-top: 40px;
    margin-bottom: 10px;

    /* border: 1px solid red; */
}

.Campo-De-Digitacao2 {
    background:#FFF;
    height: 470px;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 24px;
    text-align: start;
    margin-top:22px ;
    outline: 0;
    border: none;

    /* border: 1px solid red; */
}

#b::selection {
    background: #adcad679;
    color: #22333B;
}

#botao-Copiar {
    padding: 20px 130px;
    margin-top: 8px;
    background: #F2F4F3;
    border: 2px solid #22333B;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    color: #22333B;
    
}

#botao-Copiar:hover {
    background: #22333B;
    color: #F2F4F3;
}

#botao-Copiar:alert {
    background: blueviolet;
}

#sinal-alerta {
    background: gray;
    font-size: 18px;
    width: 6px;
    padding: 1px 8px;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    margin-right: 10px;

    /* border: 1px solid red; */

}

#sinal-alerta-aviso {
    display: flex;
    margin-top: 150px;
    margin-left: 243px;
    margin-bottom: 20px;
    user-select: none;
    font-size: 14px;
    color: #495057;

    /* border: 1px solid red; */
}

.buttons{
    display: inline-flex;
    user-select: none;

    /* border: 1px solid red; */
}

#botao-Criptografar{
    padding: 23px;
    width: 300px;
    height: 67px;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid #22333B;
    cursor: pointer;
    background: #22333B;
    transition: 1s;
    margin-left: 240px;
    margin-right: 20px;
    color:#F2F4F3;
    flex: none;

    /* border: 1px solid red; */
}

#botao-Criptografar:hover{
    background: #adcad6;
    color: #22333B;
}

#botao-Descriptografar{
    padding: 23px;
    width: 300px;
    height: 67px;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #22333B;
    display:block;
    cursor: pointer;
    background: #adcad6;
    transition: 1s;
    color: #22333B;
}

#botao-Descriptografar:hover{
    background: #22333B;
    color:#F2F4F3;
}

footer {
    background: #22333B;
    text-align: center;
    padding-top: 60px;
    height: 120px;
    color: #F2F4F3;
    font-size: 18px;
}



